@model IEnumerable<WebApplication2.Models.ViewModel.CashierVM>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Lista kasjerów
            </h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Dodaj kasjera lub admina</a>
        </div>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Opcje</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Email</td>

                    <td class="tab">
                        <div class="">
                            <a asp-controller="Cashiers" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-primary me-1 text-start col-3" role="button">Zmień</a>
                            <a asp-controller="Cashiers" asp-action="Delete" asp-route-Id="@item.Id" asp-for="Id" class="btn btn-danger col-3" role="button">Usuń</a>
                            <a asp-controller="Cashiers" asp-action="ChangePassword" asp-route-Id="@item.Id" asp-for="Id" class="btn btn-danger col-3" role="button">Zmień hasło</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="col-6 text-right">
            <a asp-controller="Home" asp-action="Admin" class="btn btn-primary">Powrót</a>
        </div>





    </div>
</div>
