@model IEnumerable<WebApplication2.Models.CartItem>

@functions {

    public int Sum()
    {
        var sum = 0;
        foreach (var product in Model)
        {
            sum += product.Price;
        };
        return sum;
    }
}
@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa Produktu</th>
            <th scope="col">Cena Produktu</th>
            <th scope="col">Ilość</th>
            <th scope="col">Cena</th>
            <th scope="col">Zniżka</th>
            <th scope="col">Opcje</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cartitem in Model)
        {
        <tr>
            <td>@cartitem.Product.ProductName</td>
            <td>@cartitem.Product.ProductPrice</td>
            <td>@cartitem.Amount</td>
            <td>@cartitem.Price</td>
            <td>@cartitem.Discount</td>
            <td class="tab">
                <div class="col-6">
                    <a asp-controller="CustomerService" asp-action="Delete" asp-route-Id="@cartitem.Id" asp-for="Id" class="btn btn-danger" role="button">Usuń</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="w-100 text-center">
    <div asp-controller="CustomerService" asp-action="GetSum" class="fs-1 mt-3">Suma: @Sum()</div>
    <div class="d-flex d-block justify-content-center w100 mt-3">
        <a asp-controller="Transactions" asp-action="FinalizeGet" class=" btn btn-primary text-center w-25">Finalizuj</a>
    </div>
</div>
